body {
    padding: 0;
    margin: 0;
    background: #000 url(../img/bg.jpg) no-repeat center bottom;
    background-size: contain;
    min-height: 100vh;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

h1, p, span, ul, li, a, button, input {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.todo {
    padding-top: 3rem;
    max-width: 540px;
    margin: 0 auto
}

.todo__form {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.todo__input,
.todo__btn,
.todo__sort {
    padding: 1rem;
    outline: none;
    border: none;
    min-height: 50px
}

.todo__input {
    width: 80%;
    background: rgba(141, 141, 141, 0.7);
    color: #fff;
}

.todo__input::placeholder {
    color: rgba(255,255,255,.8)
}

.todo__btn {
    width: 20%;
    background: rgba(255,255,255,.8);
    transition: all .3s;
    cursor: pointer;
}

.todo__btn:hover {
    background: rgba(255,255,255,1);
}

.todo__list {
    list-style: none;
    margin-top: 1rem;
}

.todo__list li {
    padding: .7rem 3.7rem .7rem .7rem;
    margin-top:2px;
    display: block;
    background: rgba(255,255,255,.15);
    position: relative;
    border-radius: 2px;
}

.todo__list li:hover .btn {
    opacity: 1;
}

.todo__list li.complete span {
    text-decoration: line-through;
}
.todo__list li.complete .status__btn {
    color: #6abb50;
}

.todo__list li.complete {
    background: rgba(255,255,255,.2);
}

.btn {
    opacity: 0;
    border: none;
    outline: none;
    width: 1rem;
    height: 1rem;
    transition: all .1s;
    background: rgba(255,255,255,.15);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.1em;
}

.btn:hover {
    background: rgba(255,255,255, .45);
}

.buttons {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.remove__btn {
    margin-bottom: 2px;
}

.status__btn {
    font-size: 1.3rem;
    position: absolute;
    right: calc(1rem + 4px);
    top: 50%;
    transform: translateY(-50%);
    width: calc(2rem + 2px);
    height: calc(2rem + 2px);
}

.todo__sort {
    width: 50px;
    height: 100%;
    margin-left: 2px;
    background: url(../img/sort.png) no-repeat center center;
    background-color: rgba(255,255,255,.8);
    object-fit: contain;
    transition: all .3s;
    cursor: pointer;
}

.todo__sort:hover {
    background-color: rgba(255,255,255,1);
}
